body, input, textarea, keygen, select, button {
  font-family: Helvetica Neue, sans-serif;
}

pre, code {
  font-family: Consolas, Courier, monospace;
}

button, [role="button"] {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
  filter: grayscale(30%);
}

button:hover, [role="button"]:hover {
  filter: grayscale(0%);
}
